matugen_colors*
wofi/style.css
qutebrowser/__pycache__
qutebrowser/bookmarks
qutebrowser/greasemonkey
qutebrowser/qsettings
qutebrowser/userscripts
qutebrowser/quickmarks
qutebrowser/autoconfig.yml

# Qutebrowser private config
qutebrowser/private.py

# private
*.local
