layout {

  tab name="nvim" focus=true {
    pane command="nvim" borderless=true{}
  }

  tab name="docker" focus=false {
    pane command="bash" borderless=true{
      args "-c" "cd .devcontainer | echo 'no existe carpeta .devcontainer'"
    }
    floating_panes {
        pane command="lazydocker" {
            x "100%"
            y "100%"
            width "80%"
            height "70%"
        }
    }
  }

  tab name="test" focus=false {
    pane borderless=true{}
  }

  default_tab_template {
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        //main formats
        format_left   "{mode} #[fg=#89B4FA,bold]{session}"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime} {command_battery_hearts}"
        format_space  ""

        //borders
        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "bottom"

        hide_frame_for_single_pane "true"

        //mode colors
        
        // Modos armonizados con paleta pastel
        mode_normal        "#[fg=#f5c2e7,bold] NORMAL#[bg=#1e1e2e,fg=#f5c2e7]"
        mode_locked        "#[fg=#d6cef1,bold] LOCKED ⛔#[bg=#1e1e2e,fg=#d6cef1]"
        mode_resize        "#[fg=#d0bfff,bold] RESIZE#[bg=#1e1e2e,fg=#d0bfff]"
        mode_pane          "#[fg=#cba6f7,bold] PANE#[bg=#1e1e2e,fg=#cba6f7]"
        mode_tab           "#[fg=#cba6f7,bold] TAB#[bg=#1e1e2e,fg=#cba6f7]"
        mode_scroll        "#[fg=#e5c3f7,bold] SCROLL#[bg=#1e1e2e,fg=#e5c3f7]"
        mode_enter_search  "#[fg=#e0b0ff,bold] ENT-SEARCH#[bg=#1e1e2e,fg=#e0b0ff]"
        mode_search        "#[fg=#e0b0ff,bold] SEARCH#[bg=#1e1e2e,fg=#e0b0ff]"
        mode_rename_tab    "#[fg=#f5c2e7,bold] RENAME-TAB#[bg=#1e1e2e,fg=#f5c2e7]"
        mode_rename_pane   "#[fg=#f5c2e7,bold] RENAME-PANE#[bg=#1e1e2e,fg=#f5c2e7]"
        mode_session       "#[fg=#cba6f7,bold] SESSION#[bg=#1e1e2e,fg=#cba6f7]"
        mode_move          "#[fg=#d0bfff,bold] MOVE#[bg=#1e1e2e,fg=#d0bfff]"
        mode_prompt        "#[fg=#f5d0ea,bold] PROMPT#[bg=#1e1e2e,fg=#f5d0ea]"
        mode_tmux          "#[fg=#f8c8dc,bold] TMUX#[bg=#1e1e2e,fg=#f8c8dc]"

        
        //tabs
        tab_normal   "#[fg=#6C7086] {name} "
        tab_active   "#[fg=#9399B2,bold,italic] {name} "

        //command_git_branch
        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        notification_format_unread           "#[fg=#89B4FA,bg=#181825,blink]  #[fg=#89B4FA,bg=#181825] {message} "
        notification_format_no_notifications "#[fg=#89B4FA,bg=#181825,dim]   "
        notification_show_interval           "10"

        //datetime
        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "America/Mexico_City"
        //bateria
        command_battery_hearts_command     "/home/Beel/.local/share/bin/batteryhearts.sh"
        command_battery_hearts_format      "{stdout} "
        command_battery_hearts_interval    "30"
      }
    }
    children
  }
}
